/*FAQ*/

.faq-menu {
    width: 100%;
}

.faq-menu-header {
    display: flex;
    justify-content: center;
    font-family: 'Sansumi', 'Raleway', sans-serif;
    font-weight: 700;
    background-image: linear-gradient(to right, #145373 , #0E84BF);
    padding: .5rem 0;
}

.faq-menu-body {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 2rem 5%;
}

.faq-menu-body ul li {
    list-style: none;
}

.faq-menu-body ul li a {
    border-radius: 10px;
}

.faq-menu-body ul li a:hover {
    background-color: #AB1D2B;
    transform: scale(1.03);
    transition: .2s;
    color: #fff;
}

.faq-menu-body ul li a {
    font-size: 24px;
    line-height: 48px;
    margin: 1rem;
    color: #000;
    font-family: 'Noto Sans', 'sans-serif';
    display: flex;
    padding: .5rem 1rem;
}

.fml, .fmm, .fmr {
    width: 50%;
}

.faq-body {
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 0 10%;
    max-width: 1000px;
}

.faq-body-content h2 {
    text-align: center;
    font-family: 'Sansumi', 'Raleway', sans-serif;
    font-weight: 700;
}

.faq-body-header {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.faq-body-content h3 {
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    margin: 3rem 0 1rem 0;
    font-weight: 700;
    font-style: italic;
}

.faq-body-content p {
    text-align: left;
    font-family: 'Noto-Sans', sans-serif;
    margin-bottom: 2rem;
    font-size: 20px;
    line-height: 40px;
}

.faq-body-content ul li {
    margin-left: 50px;
    text-align: left;
    font-family: 'Noto-Sans', sans-serif;
    margin-bottom: 1rem;
    font-size: 20px;
    line-height: 40px;
}

.faq-i {
    font-style: italic;
}

.pb {
    font-weight: 700;
}

#lower {
    margin-top: 0rem;
}

@media only screen and (max-width: 991px) {   
    .faq-menu-body {
        display: flex;
        flex-direction: column;
    }

    .fml, .fmm, .fmr {
        width: 100%;
    }
}